#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  --clr-dark-green: rgb(7, 43, 13);
  --clr-nebular-green-500: lime;
  --clr-nebular-purple-500: rgb(223, 2, 252); 
  --clr-nebular-purple-400: rgb(140, 0, 153);
  --clr-nebular-purple-200: rgb(69, 1, 78);  
  --clr-purple-outline: rgb(255, 104, 255);
  --border_radius: 8px;
}

.black-rect{
z-index: 2;
position: fixed;
height: 18vh;
background-color:rgb(0, 0, 0);
top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

header{
  z-index: 3;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 8px;
  place-items:center;
  justify-content: center;
  min-width: 320px;
  min-height: 6vh;
  max-height: 10vh;
  color: var(--clr-nebular-purple-400); 
  /*outline: 1px dashed red;*/
  flex-direction:column;
  background-color: rgb(0, 100, 45);
  background: linear-gradient(rgba(4, 82, 34, 0.7), rgba(21, 31, 28, 0.781)), url("assets/cyber-tex-1.png");
  background-repeat: repeat;
  border-radius: var(--border_radius);
}

.hero{
  display:flex;
  margin:auto;
  margin-top: 17vh; 
  width:80%;
  min-width: 320px;
  height:66vh;
  z-index:6;
}

.hero div{
  flex: 1;
}

.wizzy-hero{
  width: 100%; 
}

.hero-image-container{
  margin: 3%; 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-text-container{
  margin: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-text-container h2{

  background-color:var(--clr-nebular-purple-200);
  padding:5%;
  border-radius:var(--border_radius);
}

.hero-accent{
  color:var(--clr-nebular-green-500);
}

.map-infocard{
  color: white;
  z-index: 3;
  display: flex;
  position: fixed;
  top: 18vh;
  right: -30%;
  width: 20%;
  margin: 8px;
  place-items:center;
  min-width: 320px;
  min-height: 12vh;
  flex-direction:column;

  background: linear-gradient(rgba(4, 82, 34, 0.7), rgba(21, 31, 28, 0.781)), url("assets/cyber-tex-1.png");
  background-repeat: repeat;
  border-radius: var(--border_radius);
  opacity: 0%;
  transition:0.6s all;
  pointer-events: none;
}

.infocard-name{

  color: var(--clr-nebular-purple-500);

}

.infocard-image{
  width: 100%;
  padding: 5%;
  padding-top:0%;
  padding-bottom:0%;
  border-radius: var(--border_radius);
}

.infocard-description{
  background-color: var(--clr-dark-green);
  margin: 1rem;
  margin-top: 0%;
  border-radius: var(--border_radius);
  padding:0.25rem;
  padding-top:0%;
}

.hard{
  color:red;
}

.top-nav{
  z-index: 3;
  display: flex;
  position: fixed;
  top: 12vh;
  left: 0;
  right: 0;
  margin: 8px;
  margin-top:4px;
  margin-bottom:4px;
  display: grid;
  place-items:center;
  justify-content: center;
  min-width: 320px;
  min-height: 5vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  background-color: rgb(0, 100, 45);
  background: linear-gradient(rgba(4, 82, 34, 0.7), rgba(21, 31, 28, 0.781)), url("assets/cyber-tex-1.png");
  background-repeat: repeat;
  border-radius: var(--border_radius);
}

.top-nav a{
  color: fuchsia;
  font-size:1.5rem;
}

.grid{
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: var(--border_radius);
  margin: 1rem;

}

.section-header{
  color: var(--clr-nebular-purple-400);
  margin: 1rem;
  margin-top:0px;
  margin-bottom: 2rem;
  background-repeat: repeat;
  border-radius: var(--border_radius);
  min-width: 320px;
  min-height: 5vh;
}

.section-header h1{
  padding-top:0px;;
  font-size: 2.5rem;
}

.enemy-grid{
  margin-top:0px;
}

.enemy-card {
  /*outline: 1px dashed fuchsia;*/
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  padding: 0.5rem;
  margin: 0.5rem;
  color:rgb(255, 255, 255);
  background-color: rgb(0, 100, 45);
  background: linear-gradient(rgba(4, 82, 34, 0.7), rgba(21, 31, 28, 0.781)), url("assets/cyber-tex-1.png");
  border-radius: var(--border_radius);
}

.enemy-card h4{
  margin: 0px;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.enemy-card .label{
  margin: 0.5rem;
  color:lime;
  margin-bottom:0px;
  border-radius: var(--border_radius);
  padding:0.25rem;
}

.enemy-card .name{
  background-color: var(--clr-dark-green);
  margin: 0.5rem;
  border: 1px lime;
  margin-bottom:0px;
  border-radius: var(--border_radius);
  padding:0.25rem;
}

.enemy-image {
  margin: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(0, 0, 0); 
  border-radius: var(--border_radius);
  border: 2px black solid;
}

.bullet-image {
  margin: 0.5rem;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(0, 0, 0); 
  border-radius: var(--border_radius);
  border: 2px black solid;
}

.enemy-name {
  display: flex;
  flex-direction: column;

  text-align: left;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2; 
  margin: .5rem;
}

.guitar-name {
  display: flex;
  flex-direction: column;

  text-align: left;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2; 
  margin: .5rem;
}

.enemy-stat {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: .5rem;
}

.enemy-desrciption{
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: var(--clr-dark-green);
  margin: 0.5rem;
  border-radius: var(--border_radius);
  padding:0.25rem;
}

.mana-usage{
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: left;
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2; 
  margin: .5rem;
}

.pickup-points{
  grid-column-start: 9;
}

.map-container{
  min-width: 320px;
  min-height: 6vh; 
}

.map{
  width: 100%;
}


#enemies{
scroll-margin-top: 12rem;
}

#guitars{
scroll-margin-top: 12rem;
}

#masks{
scroll-margin-top: 12rem;
}

#pickups{
scroll-margin-top: 12rem;
}

#worldmap{
scroll-margin-top: 12rem;
}

/* WORLDMAP */

.map-container{
  display:flex;
  position: relative;

  min-width: 800px;
  margin: auto;
  width: 90%;
  /*border: 2px solid rgb(0, 131, 0);*/
  border-radius: var(--border_radius);
}

.img-magnifier-container {
  transition: opacity 0.5s;
  position:relative;
  margin:auto;
  display:flex;
}

.img-magnifier-glass {
  transition: opacity 0.5s;
  position: absolute;
  /*border: 1px solid #000;*/
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 400px;
  height: 400px;
  transform: translateZ(0);
  will-change: transform;
  opacity:0%;
}

.map-marker{
  position: absolute;
  border-radius: 50%;
  /*outline: 1px dashed aqua;*/ 
  z-index: 1;
  width: 3%;
  height: 3%;
  transition: 0.6s;
  display:flex;
  justify-content: center;
  opacity: 0%;
}

.map-marker h4{
  color: white;
  font-size: 1vw;
  font-weight:100;
  line-height: 1rem;
  position: absolute;
  top:-280%;
  text-align: center;
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
  pointer-events: none; 
}

.large h4{
  top:-380%;
}




