#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  --clr-dark-green: rgb(5, 15, 43);
  --clr-nebular-green-500: lime;
  --clr-nebular-purple-600: rgb(230, 37, 255); 
  --clr-nebular-purple-500: rgb(223, 2, 252); 
  --clr-nebular-purple-400: rgb(140, 0, 153);
  --clr-nebular-purple-200: rgb(69, 1, 78);  
  --clr-purple-outline: rgb(255, 104, 255);
  --clr-card-outline: rgb(0, 104, 64);
  --card-bg-gradient: linear-gradient(rgba(9, 32, 77, 0.7), rgba(37, 5, 58, 0.781)), url("assets/cyber-tex-1.png");
  --card-img-bg: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.781)), url("assets/grid-tex-large.png");
  --speech-bg-gradient: linear-gradient(rgba(9, 32, 77, 0.7), rgba(5, 9, 58, 0.781));
  --border_radius: 8px;
}

@media screen and (max-width: 900px) {
  #root {
    padding: 0px;
  } 
}

.black-rect{
transition:0.6s all;
pointer-events: none;
z-index: 6;
position: fixed;
height: 16vh;
background-color:rgb(0, 0, 0);
top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.darken-overlay{
  transition: all 0.6s;
  z-index: 2;
  opacity: 0%;
  background-color:black;
  position: fixed;
  top:0%;
  left:0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.infocard-darken-overlay{
  transition: all 0.6s;
  z-index: 4;
  opacity: 0%;
  background-color:black;
  position: fixed;
  top:0%;
  left:0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

header{
  z-index: 7;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  margin: 8px;
  place-items:center;
  justify-content: center;
  min-width: 320px;
  min-height: 6vh;
  max-height: 8vh;
  color: var(--clr-nebular-purple-400); 
  /*outline: 1px dashed red;*/
  flex-direction:column;
  background-color: rgb(0, 100, 45);
  background: var(--card-bg-gradient);
  background-repeat: repeat;
  border-radius: var(--border_radius);
  outline: 1px solid var(--clr-card-outline);
}

.hero{
  display:flex;
  margin:auto;
  margin-top: 22vh; 
  margin-bottom: 15vh; 
  width:80%;
  min-width: 320px;
  
  z-index:6;
}

.hero div{
  flex: 1;
}

.wizzy-hero{
  width: 100%; 
}

.hero-image-container{
  margin: 4%; 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-text-container{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text-container h2{
  
  background:var(--speech-bg-gradient);
  padding:5%;
  border-radius:var(--border_radius);
}

@media screen and (max-width: 1100px) {
  
  header h1{
    font-size:2.5rem;
  }
  
  .hero-text-container h2{
    font-size:1.25rem;
  }
  .hero{
    flex-direction: column;
  }

  .wizzy-hero{
    width: 50%;
    min-width: 320px;
    margin:auto; 
    
  }

  .hero-image-container{
    margin-top: 0px;  
  }

  .hero-text-container{
    margin-bottom: 0px;  
  }

}

.hero-accent{
  color:var(--clr-nebular-green-500);
}

.map-infocard{
  color: white;
  display: flex;
  flex-direction:column;
  z-index: 5;
  position: fixed;
  top: -100%; 
  width: 40%;
  margin: auto;
  place-items:center;
  min-width: 700px;
  min-height: 12vh;
  transition:top 0.6s, bottom 0.6s, left 0.6s, right 0.6s;; 
  background: var(--card-bg-gradient);
  background-repeat: repeat;
  border-radius: var(--border_radius);

  /* pointer-events: none; */
  outline: 1px solid var(--clr-card-outline);
  padding: 1rem;
}

.infocard-name{
  color: var(--clr-nebular-purple-500);
  margin-top:0px;
  margin-bottom: 1rem;
}

.infocard-image{
  width: 100%;
  border-radius: var(--border_radius);
  object-fit: cover;
  border: 1px solid var(--clr-card-outline);
}

.infocard-description{
  background-color: var(--clr-dark-green);
  border-radius: var(--border_radius);
  padding:0.25rem;
  padding-top:0%;
  border: 1px solid var(--clr-card-outline);
}

.infocard-description p{
  margin: 1rem;
}

.infocard-description a{
  font-weight: 800;
  color: var(--clr-nebular-purple-600);
}

.hard{
  color:red;
}

.top-nav{
  z-index: 7;
  display: flex;
  position: fixed;
  top: 9.5vh;
  left: 0;
  right: 0;
  margin: 8px;
  margin-top:4px;
  margin-bottom:4px;
  display: grid;
  place-items:center;
  justify-content: center;
  min-width: 320px;
  min-height: 5vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  background: var(--card-bg-gradient);
  background-repeat: repeat;
  border-radius: var(--border_radius);
  outline: 1px solid var(--clr-card-outline);
  box-shadow: 0px 4px 8px 1px #000000;
}

.hamburger-icon{
  cursor: pointer;
}

.hamburger-icon{
    display: none;
  }

.hamburger-menu{

    z-index: 5;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -100%; 
    place-items:center;
    justify-content: center;
    overflow-x: hidden;
    width:96%;
    left: 50%;
    transform: translate(-50%, -0%);
    height: 82vh;
    background: var(--card-bg-gradient);
    background-repeat: repeat;
    border-radius: var(--border_radius);
    opacity: 100%;
    transition:0.6s all;
    outline: 1px solid var(--clr-card-outline);
}

.hamburger-link-container{
  display: flex;
  flex-direction: column;
  background: var(--clr-dark-green);
  border-radius: var(--border_radius);
  text-align: center;
  padding:10%;
  outline: 1px solid var(--clr-card-outline);
}

.hamburger-menu a{
    margin: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--clr-nebular-purple-600);
    transition: 0.3s;
    

}

.hamburger-menu a:hover {
    color: #2bff00;
}

.top-nav a{
  color: fuchsia;
  font-size:1.5rem;
}

@media only screen and (max-width: 800px) {
  .top-nav a{
    font-size:1.25rem;
  }
}

.grid{
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: var(--border_radius);
  margin: 1rem;
}

.section-header{
  color: var(--clr-nebular-purple-400);
  margin: 1rem;
  margin-top:0px;
  margin-bottom: 2rem;
  background-repeat: repeat;
  border-radius: var(--border_radius);
  min-width: 320px;
  min-height: 5vh;
}

.section-header h1{
  padding-top:0px;
  font-size: 2.5rem;
  scroll-margin-top: 12rem;
  margin-bottom: 0px;
}

.enemy-grid{
  margin-top:0px;
  margin:0.25rem;
}

.enemy-card {
  /*outline: 1px dashed fuchsia;*/
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0.5rem;
  margin: 0.5rem;
  
  color:rgb(255, 255, 255);
  background-color: rgb(0, 100, 45);
  background: var(--card-bg-gradient);
  border-radius: var(--border_radius);
  outline: 1px solid var(--clr-card-outline);
  scroll-margin-top: 17.25vh;
}

.enemy-card h4{
  margin: 0px;
  margin-left: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
}

.enemy-card .label{
  margin: 0.25rem;
  color:lime;
  margin-bottom:0px;
  border-radius: var(--border_radius);
  padding:0.25rem;
}

.enemy-card .name{
  background-color: var(--clr-dark-green);
  margin: 0.25rem;
  border: 1px lime;
  margin-bottom:0px;
  border-radius: var(--border_radius);
  padding:0.25rem;
  outline: 1px solid var(--clr-card-outline);
}

.enemy-image {
  margin: 0.25rem;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(0, 0, 0); 
  border-radius: var(--border_radius);
  border: 2px black solid;
  outline: 1px solid var(--clr-card-outline);
} 

.bullet-image {
  margin: 0.25rem;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(0, 0, 0); 
  border-radius: var(--border_radius);
  border: 2px black solid;
  outline: 1px solid var(--clr-card-outline);
}

.enemy-name {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: start;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2; 
  margin: 0.25rem;
}

.guitar-name {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2; 
  margin: 0.25rem;
}

.enemy-stat {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  margin: 0.25rem;
}

.enemy-desrciption{
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: var(--clr-dark-green);
  margin: 0.5rem;
  border-radius: var(--border_radius);
  padding:0.5rem;
  outline: 1px solid var(--clr-card-outline);
}

.mana-usage{
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: left;
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2; 
  margin: .25rem;
}

.infocard-container{
  z-index: 8;
  bottom: 50vh;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 1100px){
  
  
  
  .enemy-card{
    margin: 0.25rem;
    margin-bottom:0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
  }

  .enemy-image {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .enemy-name{
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2; 
  }

  .enemy-stat {
    grid-row-start:2;
    grid-row-end: 3; 
  }

  .enemy-desrciption{
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: var(--clr-dark-green);
    margin: 0.5rem;
    border-radius: var(--border_radius);

  }

  .mana-usage{
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: left;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3; 
  margin: .25rem;
  }

  .guitar-image {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .bullet-image{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .guitar-name{
    grid-column-start: 4;
    grid-column-end: 6;

  }

  .guitar-card{
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  }

}

@media screen and (max-width: 400px) {

.guitar-card{
    grid-template-columns: 10fr 10fr 1fr 1fr 1fr 1fr;
  }
}

.pickup-points{
  grid-column-start: 9;
  grid-row-start: 1;
}


.map-container{
  min-width: 320px;
  min-height: 6vh; 
}

.map{
  width: 100%;
}

#enemies{scroll-margin-top: 20vh;}
#guitars{scroll-margin-top: 20vh;}
#masks{scroll-margin-top: 20vh;}
#items{scroll-margin-top: 20vh;}
#worldmap{scroll-margin-top: 20vh;}

@media screen and (max-width: 1100px){
  #enemies{scroll-margin-top: 22vh;}
  #guitars{scroll-margin-top: 22vh;}
  #masks{scroll-margin-top: 22vh;}
  #items{scroll-margin-top: 22vh;}
  #worldmap{scroll-margin-top: 22vh;}
}

@media screen and (max-width: 800px){
  #enemies{scroll-margin-top: 20vh;}
  #guitars{scroll-margin-top: 20vh;}
  #masks{scroll-margin-top: 20vh;}
  #items{scroll-margin-top: 20vh;}
  #worldmap{scroll-margin-top: 20vh;} 
}

/* WORLDMAP */

.world-map {
  width:100%;
  z-index: -2;
}

#map {
  transition: all 0.3s ease-in-out;
   width: 100%;
}

.map-container {
  position: relative;
  width: 80vw;
  max-width: 80%; /* Adjust as needed */
  overflow: scroll; 
  border: 1px solid #ccc; /* Optional, for better visibility */
  margin: auto;
  margin-bottom: 5vh;
  max-height: 650px; /* Adjust as needed */
}

 .img-magnifier-container {
  transition: opacity 0.5s;
  width:100%;
  height:100%;
  position:relative;
  margin:auto;
  display:flex;
} 

/* .img-magnifier-glass {
  transition: opacity 0.5s;
  position: absolute;
  border-radius: 50%;
  cursor: none;
  width: 400px;
  height: 400px;
  transform: translateZ(0);
  will-change: transform;
  opacity:0%;
} */

 .map-marker{
  position: absolute;
  border-radius: 50%;
  /* outline: 1px dashed aqua;  */
  z-index: 1;
  width: 3%;
  height: 3%;
  transition: 0.6s;
  display:flex;
  justify-content: center;
   opacity: 0%; 
   cursor: pointer;
} 

.map-marker h4{
  color: white;
  font-size: 1rem;
  font-weight:100;
  line-height: 1rem;
  position: absolute;
  top:-280%;
  text-align: center;
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
  pointer-events: none; 
}

.large h4{
  top:-380%;
}

.map-control-container{
  position:absolute;
  width: 5%;
  max-width: 48px;
  display: flex;
  flex-direction: column;
  left: 11%;
  top: 3%;
  
}

.map-control-container button{
  position:relative;
  z-index:4;
  margin: 10%;
  background-color:#ffffff;
  color: var(--clr-nebular-purple-200);
  opacity: 75%;
}

.map-control-container button:hover{
  background-color:#ffffff;
  opacity: 100%;
}

.map-app-container{
  position: relative;
  width: 100%;
  max-width:1200px;
  margin: auto;
  margin-bottom: 5vh;
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  max-height: 600px; /* Adjust as needed */
}

  .img-magnifier-container {
    width:250%;
    height:250%;

  } 

 .map-infocard button{
  padding-left: 2rem;
  padding-right: 2rem;
} 


@media screen and (max-width: 700px) {

  header{
    min-height: 4vh;
    max-height: 8vh;
  }

  .top-nav{
    top: 10vh;
    left: 0;
    right: 0;
    margin: 8px;
    margin-top:4px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .hero{
    display:block;
    flex-direction: column;
    margin-bottom: 20vh; 
    margin-top: 18vh;
  }

  .wizzy-hero{
    width: 50%;
    min-width: 256px;
    margin:auto;  
  }

  .hero-image-container{
    margin-top: 0px;  
  }

  .hero-text-container{
    margin: 1rem;
    margin-bottom: 0px;  
    
  }

  .top-nav a{
    display: none;
    color: fuchsia;
    font-size:1.5rem;
  }

  .hamburger-icon{
    display: block;
  }

  button{
    width:66%;
  }

  .grid{
    grid-template-columns: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

   .guitar-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .bullet-image{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

   .guitar-name{
    grid-column-start: 3;
    grid-column-end: 6;

  }

  .enemy-name{
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2; 
  }

  .enemy-stat {
    grid-row-start:2;
    grid-row-end: 3; 
  }

  .map-control-container{
    position:relative;
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 400px;
    left:0px;
    top: 0px;
  }
  
  .map-control-container button{
    margin: 7.5%;
    margin-top: 3vh;
    margin-bottom: 3vh;

  }

  .map-infocard{
      margin: auto;
    width: 96%;
    min-width: 25px;
 
}

.map-infocard button{
  display: block;
}

.map-container {
  max-width: 93%; /* Adjust as needed */
  max-height: 60vh; /* Adjust as needed */
  border: 1px solid #ccc; /* Optional, for better visibility */
  margin: auto;
  min-height: 60vh;
  width: 90vw;

 
}

#imgContainer{
  position: relative;
}

.map-app-container{
  flex-direction: column;
  margin-bottom: 4vh;

}

}

.infocard-text-content{
    display: flex;
    flex-direction:column;
    align-items: center;
  }

@media screen and (orientation: landscape) and (max-device-width: 1000px) {
  .black-rect{
    height: 22vh;
  }

  header{
      min-height: 5vh;
      max-height: 10vh;
    }

  header h1{

    font-size: 1.75rem;

  }

    .top-nav{
      top: 10vh;
      left: 0;
      right: 0;
      margin: 8px;
      margin-top:3vh;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .hero{
      display:flex;
      flex-direction: row;
      margin-bottom: 20vh; 
    }

    .wizzy-hero{
      width: 50%;
      min-width: 200px;
      margin:auto;  
    }


    .top-nav a{
      display: inline-block;
      color: fuchsia;
      font-size:1.5rem;
    }

    .hamburger-icon{
      display: none;
    }

    button{
      width:66%;
    }

    .map-control-container button{
      margin: -50%;
      margin-top: 3vh;
      margin-bottom: 3vh;

    }

    .map-infocard{
      margin: auto;
      margin-top: 4vh;
      width: 96%;
      min-width: 25px;
      min-height: 2vh;
      color: white;
      display: flex;
      flex-direction:column;
      top: -100%; 
      place-items:center;
      transition:top 0.6s, bottom 0.6s, left 0.6s, right 0.6s;; 
    }

    .infocard-content-arrange{
    display: flex;
  }

  .infocard-content-arrange div{
    flex: 1;
  }

  .infocard-text-content{
    padding: 2rem;
    display: flex;
    flex-direction:column;
    outline: 1px dashed lime;
    align-items: center;
    margin-top: -2rem;
  }

  .infocard-description p{
    font-size: 0.75rem;
  }

  .map-infocard button{
    display: block;
    max-width: 100px;
  }

  .map-container {
    max-width: 93%; /* Adjust as needed */
    max-height: 60vh; /* Adjust as needed */
    border: 1px solid #ccc; /* Optional, for better visibility */
    margin: auto;
    min-height: 75vh;
    width: 90vw;
  }

  .map-app-container{
    flex-direction: column;
    margin-bottom: 4vh;

  }


}

.enemy-image{

  background: var(--card-img-bg);
  background-repeat: repeat;
  background-position: center;

}

.section-header h4{
  text-align: center;
  line-height: 0.5rem;
}

